.projects-section {
  margin-top: 200px;
  padding: 60px 10px;
  text-align: center;
  overflow: hidden;
}

.projects-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
}

.projects-section p {
  font-family: 'Montserrat', sans-serif;
  color: #2c2c2c;
  margin-bottom: 30px;
}

.projects-swiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  height: 550px;
}

.swiper-wrapper {
  overflow: visible !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
}

body.dark-mode .projects-section,
body.dark-mode .projects-section p {
  color: #f0f0f0;
}

@media (max-width: 1024px) {
  .projects-swiper {
    width: 100%;
    padding: 0 20px;
  }
}
